<!-- jquery.js -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<!--bootstrap.js -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- ajax로 form 전송을 위한 jQuery.serializeObject() 호출을 위해 해당 js 사용 -->
<script src="/js/jquery/jquery.serialize-object.min.js"></script>

<script src="/js/app/parking_lots.js"></script>
<!-- <script src="/js/app/users.js"></script> -->
</body>
</html>