{{>layout/header}}

<h1>주차장 데이터 등록</h1>

<div class="col-md-12">
	<div class="col-md-4">
		<form name="parkingLotsForm">
			<div class="form-group">
				<label for="parking_lot_no">주차장 관리번호</label>
				<input type="text" class="form-control" id="parking_lot_no" name="parking_lot_no" placeholder="주차장 관리번호를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="parking_lot_nm">주차장 이름</label>
				<input type="text" class="form-control" id="parking_lot_nm" name="parking_lot_nm" placeholder="주차장 이름을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="parking_lot_section">주차장 구분</label>
				<input type="text" class="form-control" id="parking_lot_section" name="parking_lot_section" placeholder="주차장 구분을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="parking_lot_type">주차장 유형</label>
				<input type="text" class="form-control" id="parking_lot_type" name="parking_lot_type" placeholder="주차장 유형을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="road_name_address">소재지도로명주소</label>
				<input type="text" class="form-control" id="road_name_address" name="road_name_address" placeholder="소재지도로명주소를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="number_name_address">소재지지번주소</label>
				<input type="text" class="form-control" id="number_name_address" name="number_name_address" placeholder="소재지지번주소를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="parking_compartment">주차구획수</label>
				<input type="text" class="form-control" id="parking_compartment" name="parking_compartment" placeholder="주차구획수를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="feed_division">급지구분</label>
				<input type="text" class="form-control" id="feed_division" name="feed_division" placeholder="급지구분을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="alternate_day_no_driving_division">부제시행구분</label>
				<input type="text" class="form-control" id="alternate_day_no_driving_division" name="alternate_day_no_driving_division" placeholder="부제시행구분을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="operating_day">운영요일</label>
				<input type="text" class="form-control" id="operating_day" name="operating_day" placeholder="운영요일을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="weekday_opening_hour">평일운영시작시각</label>
				<input type="text" class="form-control" id="weekday_opening_hour" name="weekday_opening_hour" placeholder="평일운영시작시각을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="weekday_closing_hour">평일운영종료시각</label>
				<input type="text" class="form-control" id="weekday_closing_hour" name="weekday_closing_hour" placeholder="평일운영종료시각을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="saturday_opening_hour">토요일운영시작시각</label>
				<input type="text" class="form-control" id="saturday_opening_hour" name="saturday_opening_hour" placeholder="토요일운영시작시각을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="saturday_closing_hour">토요일운영종료시각</label>
				<input type="text" class="form-control" id="saturday_closing_hour" name="saturday_closing_hour" placeholder="토요일운영종료시각을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="holiday_opening_hour">공휴일운영시작시각</label>
				<input type="text" class="form-control" id="holiday_opening_hour" name="holiday_opening_hour" placeholder="공휴일운영시작시각을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="holiday_closing_hour">공휴일운영종료시각</label>
				<input type="text" class="form-control" id="holiday_closing_hour" name="holiday_closing_hour" placeholder="공휴일운영종료시각을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="parking_fee_infomation">요금정보</label>
				<input type="text" class="form-control" id="parking_fee_infomation" name="parking_fee_infomation" placeholder="요금정보를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="basic_parking_time">주차기본시간</label>
				<input type="text" class="form-control" id="basic_parking_time" name="basic_parking_time" placeholder="주차기본시간을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="basic_parking_fee">주차기본요금</label>
				<input type="text" class="form-control" id="basic_parking_fee" name="basic_parking_fee" placeholder="주차기본요금을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="additional_unit_time">추가단위시간</label>
				<input type="text" class="form-control" id="additional_unit_time" name="additional_unit_time" placeholder="추가단위시간을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="additional_parking_fee">추가단위요금</label>
				<input type="text" class="form-control" id="additional_parking_fee" name="additional_parking_fee" placeholder="추가단위요금을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="day_parking_fee_application_time">1일주차권요금적용시간</label>
				<input type="text" class="form-control" id="day_parking_fee_application_time" name="day_parking_fee_application_time" placeholder="1일주차권요금적용시간을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="day_parking_fee">1일주차권요금</label>
				<input type="text" class="form-control" id="day_parking_fee" name="day_parking_fee" placeholder="1일주차권요금을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="payment_method">결제방법</label>
				<input type="text" class="form-control" id="payment_method" name="payment_method" placeholder="결제방법을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="remarks">특기사항</label>
				<input type="text" class="form-control" id="remarks" name="remarks" placeholder="특기사항을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="management_agency_name">관리기관명</label>
				<input type="text" class="form-control" id="management_agency_name" name="management_agency_name" placeholder="관리기관명을 입력해주세요">
			</div>
			<div class="form-group">
				<label for="management_agency_phone_number">전화번호</label>
				<input type="text" class="form-control" id="management_agency_phone_number" name="management_agency_phone_number" placeholder="전화번호를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="latitude">위도</label>
				<input type="text" class="form-control" id="latitude" name="latitude" placeholder="위도를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="longitude">경도</label>
				<input type="text" class="form-control" id="longitude" name="longitude" placeholder="경도를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="reference_date">데이터기준일자</label>
				<input type="text" class="form-control" id="reference_date" name="reference_date" placeholder="데이터기준일자를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="institude_code">제공기관코드</label>
				<input type="text" class="form-control" id="institude_code" name="institude_code" placeholder="제공기관코드를 입력해주세요">
			</div>
			<div class="form-group">
				<label for="institude_name">제공기관명</label>
				<input type="text" class="form-control" id="institude_name" name="institude_name" placeholder="제공기관명을 입력해주세요">
			</div>
		</form>
		<a href="/" role="button" class="btn btn-secondary">취소</a>
		<button type="button" class="btn btn-primary" id="btn-save">등록</button>
	</div>
</div>
<br>

{{>layout/footer}}